[Misc]
Name=Facebook Serializer
Comment=An Akonadi serializer plugin for Facebook

[Plugin]
Type=text/x-vnd.akonadi.statusitem
X-Akonadi-Class=PostInfo*;
X-KDE-Library=akonadi_serializer_statusitem
X-KDE-ClassName=Akonadi::SerializerPluginStatusItem